/* ==========================================================================
   Typography
   ========================================================================== */

/*import google font - open sans*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Font family
$font-family-body: 'Open Sans', sans-serif;

$bold-font: 700;


// The base font-size, all other elements will adjust to this value
$font-size-base: 1em;

// Line height
$line-height-base: 1.4;
